{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Cards with images and text about the resort -->
<div class="container text-center">
    <div class="row">
        <div class="card about-card mb-3 mx-auto">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{% static 'images/ball_at_flag.webp' %}" class="img-fluid rounded"
                        alt="Image of a golf ball">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Two amazing, 18 hole courses.</h5>
                        <p class="card-text">
                            While you stay at our resort, you can play both our 18 hole courses once per day,
                            for your entire stay, whitout any additional fees.
                        </p>
                        <p>
                            Of course you are eligeble to play as much as your heart desires,
                            but then there is an additional fee.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card about-card mb-3 mx-auto">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{% static 'images/hotel_room.webp' %}" class="img-fluid rounded"
                        alt="Image of rustic hotel room">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Accomodation</h5>
                        <p class="card-text">
                            Our accomodations are rustic, and all of them have separate bedroom and lounge.
                            We believe golf is a social sport, and our rooms reflect that.
                        </p>
                        <p>
                            You will have access to a balcony from the lunge, and you can count on that
                            our facilities are up to standard in every way.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card about-card mb-3 mx-auto">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{% static 'images/pool.webp' %}" class="img-fluid rounded"
                        alt="Image of water in a swimming pool">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Relaxation</h5>
                        <p class="card-text">
                            The resort offers several relaxation areas, both for adults and children.
                            We have two pools, where you have access to snacks and drinks close by.
                            Additianlly we have saunas, massage, and lots more.
                        </p>
                        <p>
                            We have built a minigolf course next to the hotel for some light entertainment.
                            The children can visit our play area, where we have trampolines and othe fun things.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card about-card mb-3 mx-auto">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{% static 'images/food.webp' %}" class="img-fluid rounded"
                        alt="Image of a hamburger and fries with dip">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Food</h5>
                        <p class="card-text">
                            Our restaurant has extensive offerings of food, anyone should be able to
                            find something they love. We make some highly recommended burgers,
                            and of course you can choose vegetarian or vegan options.
                        </p>
                        <p>
                            As well as with our food, we pride ourselves in stocking up on good drinks.
                            We guarantee satisfaction, or dinner is on us.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}