{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Content on home page -->
<div class="hero-section container-fluid d-flex align-items-center justify-content-center my-2">
    <div class="card text-center mb-3 hero-card-bg">
        <div class="card-body">
            <h2 class="card-title">Visit our luxorious Golf Retreat</h2>
            <p class="card-text">Spend time with family and friends on our amazing golf course.</p>
            <p class="card-text">Wind down afterwards with great food and relaxing activities.</p>
            <a href="{% url 'booking' %}" class="btn btn-primary">Book Now!</a>
        </div>
    </div>
</div>

{% endblock %}